.center {
  justify-content: center;
}
.scroll {
  height: 100vh;
  overflow: auto;
}

.align {
  align-self: center;
}

.right {
  justify-content: right;
}

.emptyDragIcon {
  width: 24px;
  height: 24px;
}
