.box {
  flex-flow: column;
  justify-content: start;
  height: 100%;
}

.list {
  flex-flow: column;
  height: 15%;
  overflow-y: scroll;
  justify-content: start;
}

.totalBox {
  justify-content: center;
}

.dragIcon {
  align-self: center;
}

.emptyDragIcon {
  width: 24px;
  height: 24px;
}

.total {
  align-self: center;
}

.totalIcon {
  align-self: center;
}
