.nav {
  background-color: rgb(47 47 56 / 60%);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.width {
  max-width: 1400px;
}

.scroll {
  height: 50vh;
  overflow: auto;
}

.align {
  align-self: center;
}

.right {
  justify-content: right;
}

.col1 {
  flex-basis: 16%;
}

.col2 {
  flex-basis: 32%;
}

.col3 {
  flex-basis: 48%;
}

.col4 {
  flex-basis: 64%;
}

.col5 {
  flex-basis: 80%;
}

.col6 {
  flex-basis: 100%;
}

/*Responsive Cols*/
@media only screen and (max-width: 500px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6 {
    flex-basis: 100%;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 16%;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
}
