.column {
  flex-flow: column;
}

.box {
  flex-flow: column;
  justify-content: center;
  height: fit-content;
}

.categoryBox {
  flex-flow: column;
}

.ingredients {
  flex-wrap: wrap;
}

.ingredient {
  flex-flow: column;
  /* text-align: center; */
  width: 272px;
  height: 208px;
}

.scroll {
  flex-flow: row;
  flex-wrap: wrap;
  height: 20%;
  overflow-y: scroll;
}
